@import '~@/libs/variables.scss';

.chuangfu-values {
    padding: 30px;
    background: #fff;

    &-bd {
        padding-top: 50px;
        margin-top: 60px;
        border-top: 1px solid #E3E3E3;
    }
}

.founder-speaking {
    &-hd {
        line-height: 1em;
        margin-bottom: 30px;
        font-size: 24px;
    }

    &-bd {
        display: flex;
    }

    &-avatar {
        flex: 0 0 220px;
        width: 220px;
        background-color: gray;
    }

    &-list {
        display: flex;
        flex: 1 1 auto;
        margin-left: 30px;
    }

    &-list-item {
        flex: 1 1 33.333%;
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }

        .sub-title {
            display: block;
            line-height: 1em;
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: bold;
            color: #1B1817;
        }

        .main-title {
            position: relative;
            line-height: 1em;
            margin-bottom: 42px;
            font-size: 24px;
            color: #94673D;

            &::before {
                position: absolute;
                left: 0;
                bottom: -22px;
                content: '';
                width: 36px;
                height: 2px;
                background: #94673D;
            }
        }

        .content {
            font-size: 14px;
            color: #6D6C6B;
        }
    }
}

.chuangfu-values-slogan {
    &-main {
        line-height: 1em;
        margin-bottom: 12px;
        font-size: 24px;
        color: #94673D;
    }

    &-sub {
        display: block;
        line-height: 16px;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: bold;
        color: #1B1817;
    }

    &-content {
        font-size: 14px;
        color: #6D6C6B;
    }

    &-founder-signature {
        display: flex;
        justify-content: flex-end;
        
        .bd {
            width: 92px;
            height: 48px;
            background: url('~@/assets/images/values-ceo-signature.png') no-repeat;
            background-size: cover;
        }
    }
}

//  responsive
@media screen and (max-width: $mobileBreaker) {
    .chuangfu-values {
        padding: 20px;
    }

    .founder-speaking-hd {
        margin-bottom: 20px;
    }

    .founder-speaking-avatar {
        width: initial;
        padding-top: 122.4%;
        margin: 0 0 20px 0;
    }

    .founder-speaking-bd {
        display: block;
    }

    .founder-speaking-list {
        display: block;
        margin-left: 0;
    }

    .founder-speaking-list-item {
        margin: 0 0 30px 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #E2E2E2;

        .sub-title {
            font-weight: normal;
            margin-bottom: 10px;
        }

        .main-title {
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: normal;

            &::before {
                display: none;
            }
        }
    }

    .chuangfu-values-bd {
        padding-top: 0;
        margin-top: 0;
        border-top: none;

        .chuangfu-values-slogan-main {
            margin-bottom: 11px;
            font-weight: normal;
        }

        .chuangfu-values-slogan-sub {
            margin-bottom: 20px;
            font-weight: normal;
        }

        .chuangfu-values-slogan-founder-signature {
            margin-top: 30px;

            .bd {
                width: 80px;
                height: 40px;
            }
        }
    }
}