.page-perspective {
    .banner {
        padding-top: 30%;
        margin-bottom: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #6D6C6B;
    }
}