@import '~@/libs/variables.scss';

.page-perspective {
    .banner {
        padding-top: 30%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #6D6C6B;
    }
}