@import '~@/libs/variables.scss';

.perspective {
    &-list {
        max-width: 1090px;
        
        &-item {
            display: block;
            width: 340px;
            background: #fff;
            cursor: pointer;
            user-select: none;
            border: 1px solid transparent;
            transition: border-color .65s ease-out;

            &:hover {
                border-color: #94673D;
            }
        }   
    }

    &-hd {
        position: relative;
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        &::before {
            position: absolute;
            bottom: 0;
            left: 34px;
            content: '';
            width: 0; 
            height: 0; 
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #fff;
        }
    }

    &-bd {
        padding: 30px;
    }

    &-date {
        line-height: 1em;
        margin-bottom: 20px;
        font-size: 16px;
        color: #94673D;
    }

    &-title {
        line-height: 1.5em;
        margin-bottom: 20px;
        font-size: 24px;
    }

    &-summary {
        font-size: 14px;
        color: #6D6C6B;
    }

    &-title-info {
        display: flex;
        align-items: center;
        padding-top: 18px;
        margin-top: 28px;
        border-top: 1px solid #E3E3E3;

        &-name {
            line-height: 1em;
            padding-right: 12px;
            margin-right: 11px;
            font-size: 16px;
            color: #94673D;
            border-right: 1px solid #94673D;
        }

        &-title {
            font-size: 14px;
            color: #6D6C6B;
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    width: 340px;
}

.mobile-only {
    display: none;
}

//  responsive
@media screen and (max-width: $mobileBreaker) {
    .not-mobile {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .perspective-list-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .perspective-title {
        font-weight: normal;
    }
}