.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    user-select: none;

    &-style-1 {
        background: none;

        .header-logo {
            background-image: url('~@/assets/images/header-logo-status-1.png');
        }
        
        .language-selector-hd {
            background-image: url('~@/assets/images/header-language-status-1.png');

            &::before {
                background-image: url('~@/assets/images/header-language-arrow-status-1.png');
            }
        }

        .header-menu-hd::after {
            background-image: url('~@/assets/images/header-menu-status-1.png');
        }
    }

    &-style-2 {
        background: none;
        
        .header-menu-hd::after {
            background-image: url('~@/assets/images/header-menu-status-1.png');
        }

        .language-selector-hd {
            background-image: url('~@/assets/images/header-language-status-1.png');

            &::before {
                background-image: url('~@/assets/images/header-language-arrow-status-1.png');
            }
        }
    }

    &-bd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        width: 100%;
        height: 120px;
        padding: 0 50px;
    }

    &-side {
        display: flex;
        align-items: center;
    }

    &-logo {
        width: 175px;
        height: 36px;
        background: url('~@/assets/images/header-logo-status-2.png') no-repeat;
        background-size: cover;
    }

    &-menu {
        position: relative;
        margin-left: 13px;

        &-hd {
            width: 24px + 60;
            height: 24px + 60;
            padding: 30px;
            padding-left: 30px;
            cursor: pointer;
            
            &:hover::after {
                transform: rotate(180deg);
            }
            
            &::after {
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                background: url('~@/assets/images/header-menu-status-2.png') center center no-repeat;
                background-size: 30px 30px;
                transition: all .25s .1s ease;
            }
            
            &::before {
                content: '';
                position: absolute;
                top: 30px;
                bottom: 30px;
                left: -1px;
                height: 24px;
                border-left: 1px solid #FFF;
            }
        }
        
        &-bd {
            opacity: 0;
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1000;
            width: 300px;
            transform: translateX(60%);
            background: #fff;
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.18);
            animation: navShow .65s ease forwards;
        }

        .hd {
            display: flex;
            padding: 48px 30px 0 30px;

            .logo {
                width: 130px;
                height: 27px;
                background: url('~@/assets/images/header-logo-status-2.png') no-repeat;
                background-size: cover;
            }

            .close {
                padding-left: 30px;
                margin-left: 30px;
                border-left: 1px solid #94673D;
                cursor: pointer;
                user-select: none;
                
                &::before {
                    display: block;
                    content: '';
                    width: 30px;
                    height: 30px;
                    background: url('~@/assets/images/icon-close.png') right center no-repeat;
                    background-size: 30px;
                    transition: all .25s .1s ease;
                }

                &:hover::before {
                    transform: rotate(180deg);
                }
            }
        }

        .bd {
            margin-top: 160px;
        }

        &-item {
            display: block;
            line-height: 3.8888em;
            font-size: 18px;
            color: #000;
            transition: all .25s ease;
            text-align: center;

            &.active,
            &:hover {
                color: #94673D;
            }
        }
    }
}

.language-selector {
    position: relative;

    &.active {
        .language-selector-bd {
            display: block;
        }
    }

    &-hd {
        position: relative;
        width: 116px;
        height: 60px;
        background: url('~@/assets/images/header-language-status-2.png') no-repeat;
        background-position: center center;
        cursor: pointer;

        &:hover::before {
            transform: rotate(90deg);
        }
        
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 25px;
            width: 16px;
            height: 16px;
            margin-left: 25px;
            background: url('~@/assets/images/header-language-arrow-status-2.png') no-repeat;
            transition: all .25s .1s ease;
        }
    }

    &-bd {
        display: none;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0 20px;
        background: #fff;
        border: 1px solid #E2E2E2;
    }

    &-item {
        list-style: none;
        line-height: 54px;
        padding: 0 10px;
        white-space: nowrap;
        text-align: center;
        border-bottom: 1px solid #E2E2E2;
        cursor: pointer;

        &:last-child {
            border: none;
        }

        &.active {
            color: #94673D;
        }

        &:hover {
            font-weight: bold;
        }
    }
}

@keyframes navShow {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}