@import '~@/libs/variables.scss';

.article-list {
    &-hd {
        padding: 30px 30px 0 30px;
        background: #fff;
    }

    &-bd {
        padding: 40px 30px;
        background: #fff;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        padding: 35px 0;
        border-bottom: 1px solid #E2E2E2;

        &:hover &-title {
            color: #94673D;
        }

        &-main {
            flex: 1 1 auto;
        }

        &-thumb {
            flex: 0 0 auto;
            margin-left: 80px;
            width: 160px;
            height: 120px;
            background-color: #6D6C6B;
            background-size: cover;
            background-position: center center;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }

        &-date {
            margin-bottom: 20px;
            font-size: 16px;
            color: #94673D;
        }

        &-title {
            font-size: 18px;
            margin-bottom: 9px;
            transition: all .25s ease;
        }

        &-summary {
            line-height: 1.57em;
            font-size: 14px;
            color: #6D6C6B;
        }
    }
}

//  responsive
@media screen and (max-width: $mobileBreaker) {
    .article-list-hd {
        padding: 0;
        margin: 0 -20px 20px -20px;
    }
    .article-list-bd {
        padding: 20px;
    }

    .article-list-item {
        flex-direction: column;
        padding: 30px 0;
    }

    .article-list-item-main {
        order: 1;
    }

    .article-list-item-thumb {
        margin: 0 0 20px 0;
        width: 100%;
        padding-top: 66.7%;
    }

    .article-list-item-date {
        line-height: 1em;
        margin-bottom: 12px;
        font-size: 14px;
    }

    .article-list-item-title {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: normal;
        color: #17181B;
    }
}