@import '~@/libs/variables.scss';

.submenu {
    position: relative;
    z-index: 100;

    &-hd, &-bd, &-bd-mobile {
        position: relative;
        z-index: 100;
    }

    &-hd {
        padding-bottom: 20px;
        border-bottom: 2px solid #94673D;
    }

    &-title {
        line-height: 1em;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: normal;
        color: #1B1817;
    }

    &-description {
        line-height: 1.5em;
        font-size: 16px;
        color: #6D6C6B;
    }

    &-bd {
        margin-top: 80px;
    }

    &-item {
        display: block;
        margin-bottom: 28px;
    }

    &-item.active &-item-text {
        color: #fff;
        border-radius: 30px;
        background: #94673D;

        &::before {
            background: #fff;
        }
    }

    &-item-text {
        display: inline-block;
        position: relative;
        line-height: 40px;
        padding: 0 30px 0 46px;
        font-size: 18px;

        &::before {
            overflow: hidden;
            content: '';
            width: 6px;
            height: 6px;
            background: #94673D;
            border-radius: 100%;
            position: absolute;
            left: 20px;
            top: 17px;
        }

        &::after {
            position: absolute;
            top: 35px;
            left: 23px;
            z-index: -1;
            content: '';
            height: 28px;
            border-left: 2px solid #E0E0E0;
        }
    }

    .mask {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: #000;
        z-index: 10;
        opacity: 0;
    }
}

.submenu-bd-mobile {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    background: #fff;

    &.active {
        .item:first-child {
            background-image: url('~@/assets/images/icon-up.png');
        }
    }

    .item {
        display: block;
        line-height: 53px;
        margin: 0 20px;
        border-bottom: 1px solid #E2E2E2;

        &:last-child {
            border-bottom: none;
        }

        &:first-child {
            background: url('~@/assets/images/icon-down.png') no-repeat right center;
            background-size: 12px 8px;
        }

        &.active {
            color: #94673D;
            pointer-events: none;
        }
    }
}

@media screen and (max-width: $laptopBreaker) {
    .submenu {
        padding: 30px 50px;
        background: #fff;
    }

    .submenu-title {
        margin-bottom: 12px;
    }

    .submenu-hd {
        border-bottom: none;
        padding-bottom: 0;
    }

    .submenu-bd {
        display: flex;
        margin-top: 30px;
    }

    .submenu-item {
        margin: 0 10px 0 0;
    }

    .submenu-item-text {
        padding: 0 30px;
        color: #94673D;
        border: 2px solid #94673D;
        border-radius: 40px;

        &::after, &::before {
            display: none;
        }
    }
}

@media screen and (max-width: $mobileBreaker) {
    .submenu {
        padding: 0 0 53px 0;
    }

    .submenu-hd {
        padding: 16px 20px 20px 20px;
        background: #fff;
        border-bottom: 1px solid #E2E2E2;
    }

    .submenu-bd {
        display: none;
    }

    .submenu-bd-mobile {
        display: block;
    }

    .submenu-title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .submenu-description {
        font-size: 14px;
    }
}