@import '~@/libs/variables.scss';

.submenu {
    &-hd {
        padding-bottom: 20px;
        border-bottom: 2px solid #94673D;
    }

    &-title {
        line-height: 1em;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: normal;
        color: #1B1817;
    }

    &-description {
        line-height: 1.5em;
        font-size: 16px;
        color: #6D6C6B;
    }

    &-bd {
        margin-top: 80px;
    }

    &-item {
        display: block;
        margin-bottom: 28px;
    }

    &-item.active &-item-text {
        color: #fff;
        border-radius: 30px;
        background: #94673D;

        &::before {
            background: #fff;
        }
    }

    &-item-text {
        display: inline-block;
        position: relative;
        line-height: 40px;
        padding: 0 30px 0 46px;
        font-size: 18px;

        &::before {
            overflow: hidden;
            content: '';
            width: 6px;
            height: 6px;
            background: #94673D;
            border-radius: 100%;
            position: absolute;
            left: 20px;
            top: 17px;
        }

        &::after {
            position: absolute;
            top: 35px;
            left: 23px;
            z-index: -1;
            content: '';
            height: 28px;
            border-left: 2px solid #E0E0E0;
        }
    }
}