@import '~@/libs/variables.scss';

.jobs {
    padding: 0 30px;
    background: #fff;
}

.job-list {
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 98px;
        cursor: pointer;
        border-bottom: 1px solid #E2E2E2;

        &:last-child {
            border-bottom: none;
        }
        &:hover &-title {
            color: #94673D;
        }

        &-title {
            font-size: 18px;
            transition: all .25s ease-in;
        }

        &-more {
            padding-right: 10px;
            font-size: 14px;
            color: #94673D;
            background: url('~@/assets/images/icon-right-big.png') no-repeat right center;
            background-size: 8px 14px;
        }
    }
}

.job-detail-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    transform: translateZ(0);

    &-mask {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        animation: fadeIn 1s ease;
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 90px;
        height: 90px;
        background: url('~@/assets/images/icon-close.png') no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: all .25s .1s ease;

        &:hover {
            transform: rotate(180deg);
        }
    }
}

.job-detail {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 1060px;
    width: 100%;
    transform: translate(-50%, -50%);
    background: #fff;

    &-hd {
        line-height: 1.6em;
        padding: 40px 40px 40px 30px;
        font-size: 24px;
    }

    &-bd {
        overflow: auto;
        max-height: 70vh;
        padding: 30px;
        font-size: 14px;
        color: #6D6C6B;
        white-space: pre-line;
        background: #F4F4F4;
    }

    &-description {
        margin-bottom: 30px;
    }

    .row {
        font-size: 16px;
        font-weight: bold;
        color: #17181B;

        &-description {
            font-size: 16px;
            color: #94673D;
            font-weight: bold;
        }
    }
}

//  responsive
@media screen and (max-width: $tableBreaker) {
    .job-detail {
        left: 40px;
        right: 40px;
        width: initial;
        transform: translate(0, -50%);
    }
}

@media screen and (max-width: $mobileBreaker) {
    .jobs {
        padding: 0 20px;
    }

    .job-list-item {
        height: 56px;
    }

    .job-list-item-title {
        font-size: 16px;
    }

    .job-list-item-more {
        span {
            display: none;
        }
    }

    .job-detail {
        top: 106px;
        left: 20px;
        right: 20px;
        transform: initial;
        width: initial;

        .row-title, .row-description {
            font-size: 14px;
        }
    }

    .job-detail-hd {
        padding-left: 20px;

        h3 {
            font-weight: normal;
        }
    }

    .job-detail-description {
        overflow-y: auto;
        max-height: 258px;
        margin-bottom: 20px;
    }

    .job-detail-dialog-close {
        width: 52px;
        height: 52px;
        background-size: 17px 17px;
    }
}