@import '~@/libs/variables.scss';

.page-home {
    &-main {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;

        .side {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 50%;
            background: #fff;
        }

        .main {
            width: 50%;
            flex: 0 0 50%;
        }

        .swiper-slide {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .swiper-pagination-bullet-active {
            background: #fff;
        }
    }

    .tabs {
        max-width: 500px;
        min-height: 500px;
        padding: 0 20px;

        &-hd {
            overflow: auto;
            display: flex;

            &-item {
                flex: 0 0 auto;
                line-height: 46px;
                padding: 0 32px;
                margin-right: 20px;
                font-size: 14px;
                color: #94673D;
                border-radius: 46px;
                background: #fff;
                border: 2px solid #94673D;
                cursor: pointer;

                &.active {
                    color: #fff;
                    background: #94673D;
                }
            }
        }

        &-bd {
            margin-top: 40px;

            &-title {
                max-width: 500px;
                line-height: 1.32em;
                font-size: 50px;
                margin-bottom: 20px;
                font-weight: normal;
                white-space: pre-line;
            }

            &-content {
                max-width: 500px;
                margin-bottom: 84px;
                line-height: 1.625;
                font-size: 16px;
                color: #6D6C6B;
            }

            &-more {
                display: inline-block;
                line-height: 54px;
                padding: 0 62px 0 30px;
                font-size: 18px;
                color: #94673D;
                background: #fff;
                border: 2px solid #94673D;
                border-radius: 54px;
                background: #fff url('~@/assets/images/icon-right-small.png') no-repeat;
                background-position: right 32px center;
                background-size: 16 16px;
                cursor: pointer;
                transition: all .25s ease;

                &:hover {
                    color: #fff;
                    background-image: url('~@/assets/images/icon-right-small-active.png');
                    background-color: #94673D;
                }
            }
        }

        .tab-title {
            display: none;
        }
    }

    .pagination {
        position: fixed;
        bottom: 120px;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, 0);
        display: flex;

        &-item {
            width: 64px;
            height: 64px;
            background-color: #f4f4f4;
            background-size: 10px 16px;
            background-position: center center;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            transition: all .25s ease;

            &:hover {
                background-color: #EAEAEA;
            }
        }

        .pre {
            background-image: url('~@/assets/images/icon-left-big.png');
            border-radius: 64px 0 0 64px;
        }
        
        .next {
            background-image: url('~@/assets/images/icon-right-big.png');
            border-radius: 0 64px 64px 0;
        }
    }
}

//  responsive
@media screen and (max-width: $mobileBreaker) {
    .page-home {
        &-main {
            flex-direction: column;
        }

        .main {
            width: 100%;
        }

        .side {
            order: 1;
            display: block;
            padding: 30px 20px;
        }

        .tabs {
            min-height: auto;

            .tab-title {
                display: block;
            }
        }

        .tabs-hd,
        .pagination,
        .tabs-bd-more {
            display: none;
        }

        .tabs-bd {
            margin-top: 0;
        }

        .tabs-bd-title {
            margin-bottom: 12px;
            font-size: 24px;
        }

        .tabs-bd-content {
            width: initial;
            margin-bottom: 0;
            font-size: 14px;
        }

        .tab-title {
            display: block;
            margin-bottom: 12px;
            font-size: 14px;
            color: #94673D;
        }

        .tabs-bd-more-mobile {
            position: fixed;
            right: 20px;
            bottom: 25px;
            width: 48px;
            height: 48px;
            background: #94673D url('~@/assets/images/icon-right-small-active.png') no-repeat center center;
            background-size: 10px 16px;
            border-radius: 100%;
        }
    }
}